
<div class="container">
  <h1> Medals per country</h1>
  <hr />
  <div class="info-container">
    <div class="info-box">
      <div class="title-info-box">Number of JO</div>
      <div> {{ numberOfOlympicGames$ | async}}</div>
    </div>
  
    <div class="info-box">
      <div class="title-info-box">Number of countries</div>
      <div> {{ numberOfCountries$ | async}}</div>
    </div>
  
  </div>
  
</div>

<div class="chart-container">
  <ngx-charts-pie-chart
    [results]="dataPieChart$ | async"
    [gradient]="gradient"
    [legend]="showLegend"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    [view]="view">
  </ngx-charts-pie-chart>
</div>



