/* You can add global styles to this file, and also import other style files */
$my-color: rgba(4,131,143,255);
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.chart-container {
    max-width: 60%;
    margin: 5% auto;
    ngx-charts-line-chart {
      width: 100%;
      height: 400px;
    }
}

.info-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10;
    margin: 0;
    justify-content: space-between;
    

    div{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;    
    }
 
    h3 {
        background-color: $my-color;
        text-align: center;
        color: white;
        border-radius: 10px;
        padding: 1% 2%;
        margin: 0 auto;       
    }

    .info-box {
        border: 2px solid $my-color;
        padding: 10px;
        text-align: center;
        max-width: 10%;
        margin: 10px;
        border-radius: 10px;
    }

    .title-info-box {
        color: grey;
    }
    .bold-value {
        font-weight: bold;
    }
}
  
.back-button {
    background-color: grey;
    border-radius: 10px;
    font-weight: bold;
  }



@media screen and (max-width: 1000px) {
    .chart-container {
        max-width: 80%;
        margin: 5% auto;
    }
}

@media screen and (max-width: 700px) {
    .chart-container {
        max-width: 100%;
        margin: 5% auto;
    }

    .info-container {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
    }
    .info-box {
        max-width: 100%;
    }

}